{% extends 'base2.html' %}
{% load static %}
{% block content %}
  <head>  
    <title>Vote Statistics</title>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
      body {
        font-family: 'Arial', sans-serif;
      }

      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Vote Statistics</h1>
    <a href="{% url 'voteStatistics:category_statistics' %}">Category Statistics</a>
    <form id="filterForm" method="get" action="{% url 'voteStatistics:vote_statistics' %}">
      <label for="year">Filter by Year:</label>
      <select name="year" id="year">
        <option value="">All</option>
        {% for year in years %}
          <option value="{{ year }}" {% if selected_year == year %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
      </select>

      <label for="season">Filter by Season:</label>
      <select name="season" id="season">
        <option value="">Pick a Season</option>
        {% for season in seasons %}
          <option value="{{ season.id }}" {% if selected_season == season.id %}selected{% endif %}>{{ season.name }} {{ season.year }}</option>
        {% endfor %}
      </select>

      <label for="question">Select Question:</label>
      <select name="question" id="question">
        <option value="" {% if not selected_question %}selected{% endif %}>Pick a Question</option>
        {% for question in all_questions %}
          <option value="{{ question.id }}" {% if selected_question == question.id %}selected{% endif %}>{{ question.question_text }}</option>
        {% endfor %}
      </select>
    </form>

    <div style="display: flex; justify-content: space-between;">
      <div style="width: 70%;">
        <canvas id="chart" width="1200" height="800"></canvas>
      </div>
    </div>

    <form>
      <label for="choice">Select Choice:</label>
      <select id="choice">
      </select>

      <label for="data">Select Data:</label>
      <select id="data">
        <option value="gender_percentage">Gender Percentage</option>
        <option value="region_percentage">Region Percentage</option>
        <option value="age_percentage">Age Percentage</option>
      </select>
    </form>

    <div style="width: 70%;">
      <canvas id="pieChart" width="1200" height="800"></canvas>
      <div id="pieChartData"></div>
    </div>

    <div id="votersInfo"></div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
      var isFormSubmitted = false;

      function submitForm() {
        if (!isFormSubmitted) {
          isFormSubmitted = true;
          document.getElementById('filterForm').submit();
          updateChart();  // Update chart after form submission
        }
      }

      document.getElementById('year').addEventListener('change', submitForm);
      document.getElementById('season').addEventListener('change', submitForm);
      document.getElementById('question').addEventListener('change', function() {
        isFormSubmitted = false;
        submitForm();
      });

      var question_votes_data = JSON.parse('{{ question_votes_json | safe }}');
      var ctx = document.getElementById('chart').getContext('2d');
      var colors = [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(199, 199, 199, 0.2)',
        'rgba(83, 102, 255, 0.2)',
        'rgba(255, 99, 255, 0.2)',
        'rgba(255, 209, 102, 0.2)',
      ];

      function truncateLabel(label, maxLength) {
        return label.length > maxLength ? label.substring(0, maxLength) + '...' : label;
      }

      var chart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [],
          datasets: [],
        },
        options: {
          indexAxis: 'y',
          scales: {
            x: {
              beginAtZero: true,
            },
          },
          plugins: {
            legend: {
              position: 'top',
            },
          },
        },
      });

      var pieCtx = document.getElementById('pieChart').getContext('2d');
      var pieChart = new Chart(pieCtx, {
        type: 'pie',
        data: {
          labels: [],
          datasets: [{
            data: [],
            backgroundColor: colors,
          }],
        },
        options: {
          plugins: {
            legend: {
              position: 'top',
            },
          },
        },
      });

      function updatePieChart() {
        var selectedQuestion = document.getElementById('question').value;
        var selectedChoice = document.getElementById('choice').value;
        var selectedData = document.getElementById('data').value;

        var filteredData = question_votes_data.filter(qv => qv.question.id == selectedQuestion);
        var choiceData = filteredData.flatMap(qv => qv.top_votes.filter(vote => vote.choice__choice_text == selectedChoice));

        if (choiceData.length > 0) {
          pieChart.data.labels = Object.keys(choiceData[0][selectedData]);
          pieChart.data.datasets[0].data = Object.values(choiceData[0][selectedData]);
          pieChart.update();
        }

        var pieChartDataDiv = document.getElementById('pieChartData');
        pieChartDataDiv.innerHTML = '';
        for (var i = 0; i < pieChart.data.labels.length; i++) {
            var label = pieChart.data.labels[i];
            var data = pieChart.data.datasets[0].data[i];
            pieChartDataDiv.innerHTML += label + ': ' + data.toFixed(2) + '%<br>';
        }
        var votersInfoDiv = document.getElementById('votersInfo');
        pieChartDataDiv.innerHTML += votersInfoDiv.innerHTML;
      }

      document.getElementById('choice').addEventListener('change', updatePieChart);
      document.getElementById('data').addEventListener('change', updatePieChart);

      function updateChart() {
        var selectedQuestion = document.getElementById('question').value;
        var filteredData = question_votes_data.filter(qv => qv.question.id == selectedQuestion);
        chart.data.datasets = [];

        filteredData.forEach((qv, index) => {
          var color = colors[index % colors.length];
          var dataset = {
            label: qv.question.question_text,
            data: qv.top_votes.map(vote => vote.total_votes),
            backgroundColor: colors,
          };
          chart.data.datasets.push(dataset);
        });

        chart.data.labels = filteredData.flatMap(qv => qv.top_votes.map(vote => truncateLabel(vote.choice__choice_text, 20)));
        chart.update();

        var votersInfoDiv = document.getElementById('votersInfo');
        votersInfoDiv.innerHTML = '';
        
        var choiceDropdown = document.getElementById('choice');
        choiceDropdown.innerHTML = '';
        filteredData.flatMap(qv => qv.top_votes).forEach(vote => {
          var option = document.createElement('option');
          option.value = vote.choice__choice_text;
          option.textContent = truncateLabel(vote.choice__choice_text, 20);
          choiceDropdown.appendChild(option);
        });

        updatePieChart();
      }

      // Initial update of the question dropdown
      updateChart();
    </script>
  </body>
{% endblock %}
